com.tibco.poc.test.bpm.soapCall.module/Schemas/getSubcriptionFromICN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.tibco.poc.test.bw.getSubcriptionFromICNXSD"
	xmlns:tns="http://com.tibco.poc.test.bw.getSubcriptionFromICNXSD"
	elementFormDefault="qualified">
	
	
	<element name="getSubscriptionFromICN">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="WFCaseID" type="string" />
				<element maxOccurs="1" minOccurs="1" name="Ruecklaufer" type="boolean" />
			</sequence>
		</complexType>
	</element>
	
	
	
	
	</schema>
